*{
	border:1px solid black;
}
#container {
	width:90%;
	margin:0 auto;
	border:1px solid black;
}
h1 {
	text-align:center;
	
}
nav {
	background-color:#4FB6CC;
	height:30px;
	color:#FFECEC;
}
article {
	background-color:#6CC6C6;
	color:#FFECEC;
	font-size:18px;
}
.menu{
		margin:0 150px;
		float:left;
		margin-top:-10px;
		color:#FFECEC;
}
img {
	
	width:500px;
	height:250px;
}
.four {
	float:left;
	margin:80px;
}
footer {
	background-color:#3F7575;
}
header {
	background-image:url(шапка.jpg);
	color:#FFECEC;
}
.podval {
	width:100px;
	height:90px;
}
.menu:hover {
	color:black;
	font-size:18px;
	background-color:white;
}